{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>QNA - {% block title %}Home{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">FSUU</a>
                <ul id="nav-mobile" class="right">
                    {% if user.is_authenticated %}
                        <li><a href="/logout">Logout {{user.username}}</a></li>
                    {% else %}
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>


        {% include 'qna/includes/messages.html' %}

        {% block content %}

            {% if user.is_authenticated %}
                Welcome {{user.first_name}} {{user.last_name}} <a href="mailto:{{user.email}}">{{user.email}}</a>
            {% else %}
                Please login...
            {% endif %}

        {% endblock %}

        <div id="footer"></div>
 
        <script src="{% static 'materialize/js/materialize.js' %}"></script>

        <script>

            M.AutoInit();

        </script>

    </body>
</html>

