{% extends 'qna/base.html'  %}

{% block title %}Questions{% endblock %}

{% block subject %}{% if user.is_authenticated %} - {{ subject.subject_text }}{% endif %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% if type == "quiz" %}

            <h1 align="center">{{ subject.subject_text }}</h1>

            {% if question_list %}

                <form method="POST">

                    {% csrf_token %}

                    <ol>
                        {% for question in question_list %}
                            <li>

                                {{ question.question_text }}

                                {% for choice in choice_list %}
                                
                                    {% if choice.question.id == question.id %}
                                        <p>
                                          <label>
                                            <input name="group{{ question.id }}" type="radio" value="{{ question.id }},{{ choice.id }}" />
                                            <span>{{ choice.choice_text }}</span>
                                          </label>
                                        </p>
                                    {% endif %}
                                {% endfor %}
                        
                            </li>

                            <br/><br/>

                        {% endfor %}
                    </ol>

                    <center><input type="submit" value="Submit"></center>

                    </form>
                    
            {% else %}

                <center><p>No questions are available.</p></center>

            {% endif %}


        {% else %}

            <center><p>Your score is {{ score }} out of {{ items }} --- {{ percent }}.</p></center>

        {% endif %}

    {% endif %}

    <br/><br/>

{% endblock %}

