{% extends 'qna/base.html'  %}

{% block title %}Questions{% endblock %}

{% block subject %}{% if user.is_authenticated %} - {{ subject.subject_text }}{% endif %}{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        {% if question_list %}

            <form>

                <ol>
                    {% for question in question_list %}
                        <li>
                        
                            {{ question.question_text }}

                            {% for choice in choice_list %}
                                {% if choice.question.id == question.id %}
                                    <p>
                                      <label>
                                        <input id="q{{ question.id }}c{{ choice.id }}" name="q{{ question.id }}" type="radio" value="{{ choice.id }}" />
                                        <span class="choice">{{ choice.choice_text }}</span>
                                      </label>
                                    </p>
                                {% endif %}
                            {% endfor %}
                    
                        </li>

                        <br/><br/>

                    {% endfor %}
                </ol>

                <center><input type="submit" value="Submit"></center>

                </form>
                
        {% else %}

            <p>No questions are available.</p>

        {% endif %}

    {% endif %}

{% endblock %}

