{% extends 'qna/base.html'  %}

{% block title %}Questions{% endblock %}

{% block subject %} - {{ subject.subject_text }}{% endblock %}

{% block content %}

    {% if question_list %}

        <form>

        <ol>
            {% for question in question_list %}
                <li>
                
                    {{ question.question_text }}

                    {% for choice in choice_list %}
                        {% if choice.question.id == question.id %}
                            <p>
                              <label>
                                <input id="q{{ question.id }}c{{ choice.id }}" name="q{{ question.id }}" type="radio" value="{{ choice.id }}" />
                                <span class="choice">{{ choice.choice_text }}</span>
                              </label>
                            </p>
                        {% endif %}
                    {% endfor %}
            
                </li>

                <br/><br/>

            {% endfor %}
        </ol>

        <center><input type="submit" value="Submit"></center>

        </form>
        
    {% else %}

        <p>No questions are available.</p>

    {% endif %}

{% endblock %}

